<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <img src="assets/images/interbancarias/menudeo.jpg" class="card-img-top" alt="Intercambio 1">
        <div class="card-body">
          <h5 class="card-title">Menudeo</h5>
          <p class="card-text">Descripción breve sobre Menudeo.</p>
          <a routerLink="/operaciones/menudeo" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <img src="assets/images/interbancarias/intervencion.jpg" class="card-img-top" alt="Intercambio 2">
        <div class="card-body">
          <h5 class="card-title">Intervención</h5>
          <p class="card-text">Descripción breve sobre Intervención.</p>
          <a routerLink="/operaciones/intervencion" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <img src="assets/images/interbancarias/mesacambio.jpg" class="card-img-top" alt="Intercambio 3">
        <div class="card-body">
          <h5 class="card-title">Mesa de Cambio</h5>
          <p class="card-text">Descripción breve sobre Mesa de Cambio.</p>
          <a routerLink="/operaciones/mesa" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
